tickTime=2000
dataDir=/var/lib/zookeeper/
clientPort={{ zookeeper_client_port|default('2181') }}
initLimit=5
syncLimit=2
{% for host in groups[zookeeper_cluster_name] %}
# Host {{ host }}
server.{{ hostvars[host].zoo_id }}={{ hostvars[host]['ansible_ssh_host'] }}:{{ zookeeper_leader_port|default('2888') }}:{{ zookeeper_election_port|default('3888') }}
{% endfor %}

zookeeper.root.logger=INFO, CONSOLE
zookeeper.console.threshold=INFO
zookeeper.log.dir=/var/log/zookeeper
zookeeper.log.file=zookeeper.log

zookeeper.log.threshold=DEBUG
zookeeper.tracelog.dir=/var/log/zookeeper
zookeeper.tracelog.file=trace.log
